body{
    font-family: Arial;
    padding:20px;
}

.container{
    background:white;
    padding:20px;
    position: relative;
    margin:auto;
}

button{
    padding:8px 15px;
    margin-top:10px;
    cursor:pointer;
}

input{
    padding:5px;
    margin:5px;
}

.result{
    margin-top:10px;
    font-weight:bold;
}